.main-products {
	position: relative;
	background: #fff url('/img/products-bg.png') no-repeat 0 0;
	background-size: cover;
	// background-position: 

	&-bg {
		padding: 40px 0 47px;
		width: 100%;
		// min-height: 700px;
		// background-image: linear-gradient(to bottom, rgba(5, 12, 18, .6) 0%, rgba(5, 12, 18, 0.3) 100%);
	}

	.section-title {
		text-align: center;
		background-image: linear-gradient(to top, #5eae00 0%, #76dc00 100%);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
	}

	&-prev {
		width: 8%;
		// display: none;
		&-icon {
			width: 38px;
			height: 71px;
			background-image: url('/img/arrow-dark.png');
			transform: rotate(180deg);
		}
	}

	&-next {
		width: 8%;
		&-icon {
			width: 38px;
			height: 71px;
			background-image: url('/img/arrow-dark.png');
		}
	}

	&-content {
		margin-top: 15px;

		// .col-12, .col-md-4 {
		// 	float: left;
		// 	flex: 0 0 30%;
		// 	max-width: 30%;
		// }
	}

	&-tabs {
		display: flex;
		justify-content: center;

		list-style: none;
		padding: 0;
		margin: 0;
		font-size: 18px;
		line-height: 32px;

		li {
			margin-right: 41px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__tab {
		color: #66bc00;
		line-height: 32px;
		border-bottom: 2px dashed $tab-color;

		&:hover {
			border-bottom: none;
		}

		&:active {
			color: $form-text-color;
			border-bottom: none;
		}

		&_active {
			color: $form-text-color;
			border-bottom: none;
		}
	}

	&-content-wrapper {
		display: flex;
		padding: 38px 0;
	}

	
	&-card {
		position: relative;
		width: 300px;
		height: 405px;
		background-color: #fff;
		border-radius: 4px;
		-webkit-box-shadow: 0px 10px 24px rgba(7,15,22,0.5);
		-moz-box-shadow: 0px 10px 24px rgba(7,15,22,0.5);
		box-shadow: 0px 10px 24px rgba(7,15,22,0.5);

		&:hover {
			h3 {
				color: $accent-color;
			}
		}
		// display: none;

		&__img {
			width: 100%;
			height: 200px;

			img {
				width: 100%;
			}
		}
		
		&__text {
			padding: 24px;

			h3 {
				font-family: 'Rubik Bold';
				font-size: 24px;
				line-height: 26px;
			}

			p {
				line-height: 26px;
			}

			small {
				font-size: 14px;
				line-height: 20px;
				color: #b1b1b1;
			}
		}

	}

	&__btn {
		margin: 0 auto;
	}
}