.main-services {
	position: relative;
	background: #fff url('/img/services-bg.jpg') no-repeat 0 0;
	background-size: cover;
	// background-position: 

	&-bg {
		padding: 40px 0 47px;
		width: 100%;
		background-image: linear-gradient(to bottom, rgba(5, 12, 18, .6) 0%, rgba(5, 12, 18, 0.3) 100%);
	}

	&-prev {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 8%;
		height: 100%;
		z-index: 20;
		cursor: pointer;
		&-icon {
			display: block;
			transform: rotate(180deg);
			path { opacity: .3; }
			&:hover {
				path {
					fill: $accent-color;
					opacity: 1;
				}
			}
			&:active {
				path {
					fill: $btn-color-dark;
					opacity: 1;
				}
			}
		}
	}

	&-next {
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 8%;
		height: 100%;
		z-index: 20;
		cursor: pointer;
		&-icon {
			display: block;
			path { opacity: .3; }
			&:hover {
				path {
					fill: $accent-color;
					opacity: 1;
				}
			}
			&:active {
				path {
					fill: $btn-color-dark;
					opacity: 1;
				}
			}
		}
	}

	.section-title {
		text-align: center;
		color: #fff;
	}

	&-content {
		margin-top: 15px;
	}

	&-tabs {
		display: flex;
		justify-content: center;
		align-items: center;
		list-style: none;
		padding: 0;
		margin: 0;
		font-size: 18px;
		line-height: 32px;

		li {
			margin-right: 41px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__tab {
		color: #fff;
		line-height: 32px;
		border-bottom: 2px dashed $btn-color;

		&:hover {
			border-bottom: none;
		}

		&:active {
			color: rgba(255,255,255, .6);
			border-bottom: none;
		}

		&_active {
			color: rgba(255,255,255, .6);
			border-bottom: none;
		}
	}

	&-content-wrapper {
		position: relative;
		box-sizing: content-box;
		width: 100%;
		max-width: 960px;
		padding: 0 50px;
		margin: 0 auto;
		margin-top: 332px;
	}

	&__slide {
		display: flex !important;
		justify-content: space-between;
		align-items: flex-end;

		padding: 30px 23px;
		background-color: rgba(20, 20, 20, .7);
		border-radius: 4px;

		a {
			position: relative;
			bottom: 5px;
			color: #fff;
			font-size: 16px;
			line-height: 22px;
			border-bottom: 2px solid $btn-color;
	
			&:hover {
				color: $accent-color;
				border-color: transparent;
			}
	
			&:active {
				color: $form-text-color;
				border-color: transparent;
			}
		}
	}

	&__text {
		max-width: 620px;
		color: #fff;

		span {
			font-family: 'Rubik Bold';
			font-size: 24px;
			line-height: 36px;
		}

		p {
			margin: 0;
			margin-top: 15px;
			padding: 0;
			line-height: 26px;
		}
	}

	
}