.partners {
	padding: 50px 0 65px;

	.section-title {
		text-align: center;
		background-image: linear-gradient(to top, #5eae00 0%, #76dc00 100%);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
	}

	&-content {
		// display: flex;
		// justify-content: space-between;
		// align-items: center;

		margin-top: 46px;
	}

	&__img {
		width: 100%;
		min-height: 115px;
		background: #fff url('/img/partners.png') no-repeat 10px 0;
	}
}