.header {
	background: #fff url('/img/header-slider/slider-bg.jpg') no-repeat 0 0;
	background-size: cover;
	// background-position: 

	&-bg {
		padding: 23px 0 40px;
		width: 100%;
		min-height: 390px;
		background-image: linear-gradient(to bottom, rgba(5, 12, 18, .6) 0%, rgba(5, 12, 18, 0) 100%);
	}

	&-slider {
		margin-top: 500px;
		background-color: rgba(20, 20, 20, .8);

		&__slide {
			display: none;
		}
		
		&__text {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;

			padding: 30px 10px 25px;
			color: #fff;
			font-family: 'Rubik Medium';
			font-size: 24px;
			line-height: 36px;

			span {
				max-width: 620px;
			}

			a {
				color: #fff;
				font-size: 16px;
				line-height: 22px;
				border-bottom: 2px solid $accent-color;
			}
		}

		// .header-slides {
		// 	display: flex;
		// 	justify-content: space-between;

		// 	.header-slider__btn {
		// 		width: 238px;
		// 		height: 4px;
		// 		background-color: #fff;
		// 		opacity: .7;
		// 		cursor: pointer;

		// 		&_active {
		// 			background-color: $accent-color;
		// 		}
		// 	}
			
		// }

		.header-slides {
			display: flex;
			justify-content: space-between;
			position: absolute;
			bottom: 0;
			left: 0;
			list-style: none;
			padding: 0;
			margin: 0;
			width: 100%;

			li {
				position: relative;
				display: block;
				width: 238px;
				height: 4px;
				background-color: #fff;
				opacity: .7;
				padding: 0;
				cursor: pointer;
	
				&.slick-active {
					background-color: $accent-color;
				}

				button {
					border: 0;
					background: transparent;
					display: block;
					width: 238px;
					height: 4px;
					outline: none;
					line-height: 0px;
					font-size: 0px;
					color: transparent;
					cursor: pointer;
				}
			}
		}
	}
}