.header-top {
	display: flex;
	justify-content: space-between;

	padding: 0 20px 0 25px;
	color: #fff;
	
	.header-menu {
		width: 612px;
		// margin-top: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	
		a {
			font-family: 'Rubik Medium';
			color: #fff;
		}

		.header-menu__language {
			&_active {
				color: #afafaf; 
			}
		}
	
		&__btn {
			.icon-envelope {
				margin-right: 8px;
				
				path {
					fill: white;
				}
			}
		}
	}
}