.header-top {
	display: flex;
	justify-content: space-between;

	padding: 0 25px;
	color: #fff;
	
	.header-menu {
		width: 610px;
		margin-top: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	
		a {
			font-family: 'Rubik Medium';
			color: #fff;
		}

		.header-menu__language {
			&_active {
				color: #afafaf; 
			}
		}
	
		&__btn {
			padding: 10px 20px;
			border: 2px solid $accent-color;
			border-radius: 20px;

			.icon-envelope {
				margin-right: 10px;
				
				path {
					fill: white;
				}
			}
		}
	}
}