// Colors
$accent-color: #76c900;
$primary-color: #323232;
$form-text-color: #afafaf;
$btn-color: #67bf00;
$btn-color-dark: #5a9900;
$tab-color: #66bc00;

body {
	font-family: 'Rubik Regular', 'Arial', sans-serif;
	font-size: 16px;
	color: $primary-color;
	width: 100%;
	height: 100%;
}

button {
	background: none;
	outline: none;
	border: none;
}

div, p, input, form, button, span, a {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ul, p {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

*:focus, *:active {
	outline: none;
}

input, textarea {
	width: 100%;
	display: block;
	box-sizing: border-box;
	margin-top: 8px;
	padding: 10px 20px;
	border-radius: 4px;
	border: 1px solid #dadada;
	outline: none;

	&:focus {
		outline: 1px solid $form-text-color;
	}
}

input {
	margin-bottom: 30px;
}

textarea {
	height: 80px;
	resize: none;
}

.container {
	width: 95%;
	max-width: 960px;
	margin: 0 auto;
}

.row {

	&-smaller {
		padding: 0 23px;
	}
}

.img-responsive {
	max-width: 500px;
	width: 100%;
	height: auto;
}

.section-title {
	font-family: 'Rubik Bold';
	font-size: 40px;
}

.btn {
	display: block;
	width: 180px;
	padding: 9px 0px;
	text-align: center;
	font-family: 'Rubik Medium';
	font-size: 16px;
	color: inherit;
	border: 2px solid $btn-color;
	border-radius: 20px;
	cursor: pointer;

	&:hover {
		color: #fff;
		background-color: $btn-color;
		border-color: $btn-color;
	}

	&:active {
		color: #fff;
		background-color: $btn-color-dark;
		border-color: $btn-color-dark;
	}
}

.tab-content > .tab-pane {
	display: block;    /* undo display:none          */
	height: 0;         /* height:0 is also invisible */ 
}
.tab-content > .active {
	height: auto;      /* let the content decide it  */
}