// Colors
$accent-color: #76c900;
$primary-color: #323232;
$form-text-color: #afafaf;
$btn-color: #67bf00;
$btn-color-dark: #5a9900;
$tab-color: #66bc00;

body {
	font-family: 'Rubik Regular', 'Arial', sans-serif;
	font-size: 16px;
	color: $primary-color;
	width: 100%;
	height: 100%;
}

div, p, input, form, button, span, a {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ul, p {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

*:focus, *:active {
	outline: none;
}

.container {
	@include container();
	//@include sm(max-width, 320px); //510px
	//@include md(max-width, 690px); //690px
	//@include lg(max-width, 930px); //930px
	//@include xl(max-width, 960px); //1110px
}

.row {
	@include row-flex();

	&-smaller {
		padding: 0 23px;
	}
}

.img-responsive {
	max-width: 500px;
	width: 100%;
	height: auto;
}

.section-title {
	font-family: 'Rubik Bold';
	font-size: 40px;
}

.btn {
	display: block;
	width: 180px;
	padding: 9px 0px;
	text-align: center;
	font-family: 'Rubik Medium';
	font-size: 16px;
	color: inherit;
	border: 2px solid $btn-color;
	border-radius: 20px;

	&:hover {
		color: #fff;
		background-color: $btn-color;
		border-color: $btn-color;
	}

	&:active {
		color: #fff;
		background-color: $btn-color-dark;
		border-color: $btn-color-dark;
	}
}

.tab-content > .tab-pane {
	display: block;    /* undo display:none          */
	height: 0;         /* height:0 is also invisible */ 
}
.tab-content > .active {
	height: auto;      /* let the content decide it  */
}